/* about-me */
.about-me {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.about-me img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.about-me section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}