:root {
  --cor-js-primaria: #ffcc00;
  --cor-js-secundaria: #413401;
  --cor-py-primaria: #FEDA52;
  --cor-py-secundaria: #4680B0;
  --tamanho-fonte: 16px;
}

body {
  background-color: #f4f4f4;
}

.features {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2em;
  text-align: left;
}

form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2em;
  margin-top: 2em;
}

.bg-gradient {
  background: radial-gradient(circle, var(--cor-js-primaria), var(--cor-js-secundaria));
  color: #ffffff; /* Define a cor do texto para branco ou outra cor que seja visível no degradê */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.data-js.bg-gradient {
  background: linear-gradient(to right, var(--cor-js-primaria), var(--cor-js-secundaria));
}

.data-python.bg-gradient {
  background: linear-gradient(to right, var(--cor-py-primaria), var(--cor-py-secundaria));
}