* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #001f3f;
  --secondary-color: #000000;
  --light: #ffffff;
  --light-blue: #808F9F

}

body {
  background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
  font-size: 62.5%;

  font-family: 'Space Mono', monospace  !important;
}

header {
  background: var(--light);
  padding: 1rem;
}

section {
  margin: 2rem;
}

h1 {
  color: var(--primary-color);
  font-weight: bold !important;
  font-size: 4rem !important;
}

h2, h3 {
  color: var(--light-blue);
}

.full-page {
  height: 100vh;
}

footer {
  padding: 1rem;
  background: var(--primary-color);
  color: var(--light-blue);
  font-weight: bold !important;
}

footer a:hover {
  color: var(--light);
}
