.popup-form-email.hidden {
  display: none;
}

.popup-form-email {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  
  background-color: rgb(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}
  
.popup-form-email .container-form {
  position: relative;

  background-color: whitesmoke;
  padding: 2rem;
  margin: 0 0.5rem;
  border-radius: 8px;
}

.popup-form-email .form-label {
  color: var(--primary-color);
}

.button {
  background-color: var(--primary-color) !important;
}

.button:hover {
  background-color: var(--light-blue) !important;
  border-color: var(--primary-color);
}

.button:active {
  background-color: var(--primary-color) !important;
}

/* Feedback form */

.success{
  color: var(--primary-color);
}

.error {
  color: tomato;
}
  
/* configurar botao de sair do popup */